<div class='main-details'>
  <h3><%= @coffee.name %></h3>
  <h5>by <%= @coffee.roaster %> and <%= @coffee.producer %></h5>
  <h6>from <%= @coffee.country %>, <%= @coffee.region %></h6>
  <p>Process: <%= @coffee.process %>, Altitude: <%= @coffee.altitude %></p>
</div>

<% if current_user.nil? && @profile.empty? %>
  <%= link_to 'Sign in add an attribute profile', new_coffee_profile_path(@coffee.id) %>
<% elsif !current_user.nil? && @profile.empty? %>
  <%= link_to 'Add an attribute profile', new_coffee_profile_path(@coffee.id) %>
<% end %>
