<div class='show-main'>
  <img src= <%= @coffee.image_url %> />
  <div class="coffee-details">
    <h3><%= @coffee.name %></h3>
    <h5><%= @coffee.roaster %> </h5>
    <h6><%= @coffee.country %></h6>
    <p><%= @coffee.process %></p>
  </div>

  <% if current_user.nil? && @profile.empty? %>
  <%= link_to 'Sign in to add an attribute profile', new_coffee_profile_path(@coffee.id), :class => 'button' %>
  <% elsif !current_user.nil? && @profile.empty? %>
  <%= link_to 'Add an attribute profile', new_coffee_profile_path(@coffee.id), :class => 'button' %>
  <% end %>
</div>
