<div class='main-details'>
  <h3><%= @coffee.name %></h3>
  <h5>by <%= @coffee.roaster %> and <%= @coffee.producer %></h5>
  <h6>from <%= @coffee.country %>, <%= @coffee.region %></h6>
  <p>Process: <%= @coffee.process %>, Altitude: <%= @coffee.altitude %></p>
</div>
