<h1>Welcome, <%= @user.email %>!</h1>

<h2>Your coffees</h2>
<% if @user.profiles.empty? %>

  <p>You haven't added any coffee profiles. Your coffees will appear here once you do :)</p>
  <a href='/'>Search for coffees</a>

<% else %>


  <% @user.profiles.each do |profile| %>
    <div>
      <a href= <%= "/coffees/#{profile.coffee.id}" %>><img src= <%= profile.coffee.image_url %> width=150px height=150px /></a>
      <div class="coffee-details">
        <% if profile.count == 1 %>
          <% profile_string = 'profile' %>
        <% else %>
          <% profile_string = 'profiles' %>
        <% end %>
        <p><i> You've added <%= profile.count %> <%= "#{profile_string}" %> for this coffee </i></p>
        <%= link_to 'Add an attribute profile', new_coffee_profile_path(profile.coffee.id), :class => 'button' %>
        <h5><%= profile.coffee.name %></h5>
        <h7><%= profile.coffee.roaster %> </h7>
        <h8><%= profile.coffee.country %></h8>
        <p><%= profile.coffee.process %></p>
      </div>
    </div>
  <% end %>
<% end %>
